@model JobSearch.Models.Login
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Home</h2>

@using (Html.BeginForm("Login_Click", "UserLogin", FormMethod.Post))
{
    <div>
        @Html.ActionLink("All Jobs", "DisplayAllJob_Load", "DisplayAllJob")
    </div>
} 